{% extends 'Explicacion/explicacion.html.twig' %}
{% block body %}
    <h1>Esto es la sección de alumnos</h1>
    {# <p>si estás leyendo esto se debería haber creado en la base de datos un nuevo alumno llamado Boris</p> #}
    {% for alumno in alumnos %}

        <p>{{alumno.id}}</p>
        <p>{{alumno.name}}</p>
        <p>{{alumno.age}}</p>
        <img style="width: 100px" src="{{alumno.img}}" alt="imagen"/>
        <a href="{{path("getalumno", {"id": alumno.id})}}">Más información sobre el alumno</a>

    {% endfor %}
{% endblock %}