{% extends 'Explicacion/explicacion.html.twig' %}
{% block body %}
    <p>{{alumno.id}}</p>
    <p>{{alumno.name}}</p>
    <p>{{alumno.age}}</p>
    <img src="{{alumno.img}}" alt="alumno img" style="width: 100px"/>
    <p>{{alumno.curso}}</p>
{% endblock %}